@{
    ViewBag.Title = "Home Page";
}


<h2>Simule um update à base de dados periódica</h2>
@Html.ActionLink("Simulação", "Simulate", "Home")

<h2>Simule um update total à aplicação</h2>
@Html.ActionLink("Simulação total", "SimulateTotal", "Home")

<h2>Desencadeie o envio de informação nova para os emails dos utilizadores</h2>
@Html.ActionLink("Enviar Emails", "EmailDispatch", "Home")

